<nav>
 <div class="navbar navbar-fixed">
 <input type="checkbox" id="navbar-checkbox">
	 <div class="navbar-menu navbar-menu-alt">
		 <ul class="navbar-navigation">
			 <li class="navbar-header">
				 <!-- dont really like a title for my page now -->
				<!-- <a class="navbar-brand" href="#top">Portfolio</a> -->
			 <label class="navbar-hamburger navbar-hamburger-spin"
			 for="navbar-checkbox"> <span></span> </label>
			 </li>
			 <li class="navbar-item"><a href="{{ site.url }}"><i class="pe-7s-home"></i> Home</a></li>
			 {% for page in site.pages %} {% if page.title %}
			 <li class="navbar-item active"><a href="{{ page.url | prepend: site.baseurl }}"><i class="pe-7s-gym"></i> {{ page.title }}</a></li>
			 {% endif %} {% endfor %}
			 <li class="navbar-item"><a href="{{ "/blog" | prepend: site.baseurl }}"><i class="pe-7s-comment"></i> Blog</a></li>
		 </ul>
	 </div>
 </div>
</nav>

	<!-- <nav>
		<ul>
			{% for page in site.pages %} {% if page.title %}
			<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
			{% endif %} {% endfor %}
			<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
		</ul>
	</nav> -->

<header class="hero">
	<div class="name-box">
		<h1>Gabe Amaya</h1>
	</div>
</header>
