// Brand
$primary: #2C363F;
$secondary: #AAF683;
$typography: #353535;

$content-width: 800px;
$font-style: 'ABeeZee', sans-serif;
$main: #2C363F;
$font-color: #353535;
$link-color: #EF6F6C;
$link-hover-color: $secondary;
$heading-font: 'Crete Round', serif;
$heading-font-color: #465775;
$light: #E7EDF4;
$header:  #465775;
$dark: #2E4052;
$white: #fff;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
