// Brand
$primary: #EF6F6C;
$secondary: #465775;
$typography: #353535;

$content-width: 800px;
$main: #465775;
$font-style: 'ABeeZee', sans-serif;
$font-color: #353535;
$link-color: #EF6F6C;
$link-hover-color: $main;
$heading-font: 'Crete Round', serif;
$heading-font-color: #465775;
$light: #E7EDF4;
$header:  #465775;
$dark: #2E4052;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
