$content-width: 800px;
$main: #8FD694;
$font-style: 'ABeeZee', sans-serif;
$font-color: #262626;
$link-color: #654F6F;
$link-hover-color: $main;
$heading-font: 'Crete Round', serif;
$heading-font-color: #46B1C9;
$light: #E7EDF4;
$header:  #654F6F;
$dark: #2E4052;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
