/* Simple Grid */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row-primary {
  background-color: $secondary;
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  color: $white;
  padding: 60px 15px;
}
.row-secondary {
  background-color: #f7f7f7;
  padding: 60px 15px;
}
.column {
  flex-basis: 100%;

}
.container {
	max-width: $content-width;
	margin: 0 auto;
}
.project-container {
  max-width: 850px;
}
section {
  padding: 60px 0;
}

// Desktop
@media screen and (min-width: 800px) {
  .column {
    flex: 1;
    padding: 60px;
  }
}
