/* Simple Grid */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row-primary {
  background-color: $secondary;
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  color: $white;
  padding: 60px 15px;
}
.row-secondary {
  background-color: #f7f7f7;
  padding: 60px 15px;
}
.column {
  flex-basis: 100%;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}
.project-container {
  max-width: 900px;
}
.child {
  width: 250px;
  height: 250px;
  margin: auto;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 60px;
  padding-top: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: $secondary;
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  color: $primary;
  h3 {
    color: $primary;
  }
}
.container-fluid-alt {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 60px;
  padding-top: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f7f7f7;
}

// Desktop
@media screen and (min-width: 800px) {
  .column {
    flex: 1;
    padding: 25px;
  }
  .col-4 {
    width: 33.3333333%;
    padding: 0 15px;
  }
  .col-8 {
    width: 66.66666667%;
    padding: 0 15px;
  }
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 60px;
    padding-top: 60px;
    margin-right: auto;
    margin-left: auto;
    background-color: $secondary;
    clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
    color: $primary;
    h3 {
      color: $primary;
    }
  }
  .container-fluid-alt {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 60px;
    padding-top: 60px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f7f7f7;
  }
}
